<html> 
<head>
  <title>
    Welcome to Movie Search!
  </title>
<link rel="stylesheet" href="css/main.css">
<head>


  <body>
    <h1>
      Welcome to Movie Search!
    </h1>



  <div id="content">
    <%= yield %>
  </div>

  </body>
  </html>