
  
<p>
</p>

<h1>

</h1>
    <div id="menu" >
      
            <form action="/film" method="POST">
            <label for="search">Search a Movie:</label>
            <input type="text" name="search" />
            <input type="submit" />
       
    </div>
    
<div id="results">


  <p><h2><%= title %></h2></p>
  <p>Year: <%= year %></p>
  <p><%= plot %></p>  

</div>

<div id="posterbox">
<img id="poster" src=<%= poster %>>
</div>

