    <div id="menu" >
      
            <form action="/film" method="POST">
            <label for="search">Search a Movie:</label>
            <input type="text" name="search" />
            <input type="submit" />
       
    </div>